@import url("reset.css");
@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* ================================================================================== */
body {
	font-family: var(--font-main);
	font-size: 0.9375rem;
	color: var(--grey-color-400);
	background-color: var(--light-white-color);
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 71.5rem;
	padding-inline: 0.9375rem;
	margin: 0 auto;
}
/* ================================================================================== */
.card {
	padding-top: 3.5rem;
	padding-bottom: 2.875rem;
}
.card__heading {
	text-align: center;
}
.card__heading:not(:last-child) {
	margin-bottom: 3.75rem;
}
.card__title {
	font-weight: 200;
	font-size: 1.5rem;
	line-height: 1.4;
	letter-spacing: 0.0156rem;
	color: var(--grey-color-500);
}
.card__title span {
	font-weight: 600;
}
.card__title:not(:last-child) {
	margin-bottom: 1rem;
}
.card__description {
	line-height: 1.4;
	letter-spacing: 0.0063rem;
}
.card__description p:not(:last-child) {
	margin-bottom: 0.625rem;
}
.card__items {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"supervisor"
		"team-builder"
		"karma"
		"calculator";
	gap: 2rem;
	justify-items: center;
	align-items: start;
}
.item-card {
	width: 100%;
	max-width: 19.625rem;
	padding: 2rem;
	background: var(--white-color);
	box-shadow: 0 0.9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.5);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	overflow: hidden;
	position: relative;
}
.item-card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25rem;
}
.item-card--supervisor {
	grid-area: supervisor;
}
.item-card--supervisor::before {
	background-color: var(--cyan-color);
}
.item-card--team-builder {
	grid-area: team-builder;
}
.item-card--team-builder::before {
	background-color: var(--red-color);
}
.item-card--karma {
	grid-area: karma;
}
.item-card--karma::before {
	background-color: var(--orange-color);
}
.item-card--calculator {
	grid-area: calculator;
}
.item-card--calculator::before {
	background-color: var(--blue-color);
}
.item-card__body {
	display: grid;
	gap: 0.375rem;
}
.item-card__title {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.35;
	color: var(--grey-color-500);
}
.item-card__text {
	font-size: 0.8125rem;
	line-height: 1.6;
	letter-spacing: 0.0056rem;
}
.item-card__text p:not(:last-child) {
	margin-bottom: 0.3125rem;
}
.item-card__icon {
	align-self: flex-end;
	aspect-ratio: 1;
	width: 64px;
}
.attribution {
	font-size: 0.6875rem;
	text-align: center;
	padding: 0.3125rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	transition: text-decoration 0.4s;
}
.attribution a:hover,
.attribution a:focus {
	text-decoration: underline;
}
/* ================================================================================== */
/* Media queries */
/* ================================================================================== */
@media (min-width: 31.25rem) {
	.card {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.card__heading {
		max-width: 33.75rem;
		margin-inline: auto;
	}
	.card__heading:not(:last-child) {
		margin-bottom: 4.625rem;
	}
	.card__title {
		font-size: 2.25rem;
	}
	.card__items {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"team-builder team-builder"
			"supervisor karma"
			"calculator calculator";
	}
	.item-card--team-builder,
	.item-card--calculator {
		align-self: center;
	}
}

@media (min-width: 48rem) {
	.card {
		padding-top: 6.375rem;
		padding-bottom: 10.1875rem;
	}
	.card__items {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"supervisor team-builder calculator"
			"supervisor karma calculator";
	}

	.item-card--supervisor,
	.item-card--calculator {
		align-self: center;
	}
}
